*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppns', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#000;
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: red;
    border-radius: 20px;
    

}